body{
    overflow-y: hidden;
}
.chat-room{
    height: 100vh;

    #messages{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 200px;
    }

    .navbar{
        border-bottom: 1px solid #eeeeee;
        margin-left: -15px;
    }

    .message{
        min-height: 30px;
        .content-container{
            display: inline-block;
            float: left;
            .content{
                background-color: #eeeeee;
                padding: 8px 16px;
                border-radius: 20px;
            }
            .author{
                font-size: 0.8rem;
                color: #777777;
                margin-left: 10px;
            }
        } 
        &.me {
            .content-container{
                float: right;
                .content{
                    background-color: #007bff;
                    color: white;
                }
            }
        }
    }
    .chat-box{
        position: absolute;
        width: calc(100% - 15px);
        bottom: 0;
        padding: 20px;
        background-color: white;
        border-top: 1px solid #eeeeee;
        input[type=text] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
        }
        .btn{
            height: 45px;
        }
    }
}
.card{
    border-radius: 20px;
    border: none;
}
.room-link{
    &:hover{
        text-decoration: none;
    }
    .room-card{
        transition: background-color 0.5s ease;
        &:hover{
            background-color: #eeeeee;
            border-radius: 20px;
        }
        &.active{
            background-color: yellow;
        }
        .name{
            font-weight: bold;
            color: black;
        }
        .member-count{
            font-weight: light;
            color: #777777;
        }
    }
}
